.loading-container{
    position : fixed;
    top :0;
    left :0;
    z-index : 99999;
    display : flex;
    align-items : center;
    justify-content : center;
    width : 100vw;
    height : 100vh;
    background-color : rgb(248, 244, 244,0.3);
    image{
        display : flex;
        flex-direction : column;
        justify-content : center;
        justify-items : center;
        width : 100px;
        height : 100px;
    }
}