@import '../../style/style.scss'; 



.order-tab {
    position : relative;
    width : 30%;
    height : auto;
    margin-top : 30px;
    margin-left : 30px;
    line-height : 1;
    word-break : break-all;
    word-wrap : break-word;
    @extend .h1;
    @extend .h2;
    
}

.order-tab-fixed{
    position : fixed;
}

.rectangle {
    position : absolute;
    left : 0;
    width : 40px;
    height : 8px;
    margin-top : 3px;
    background-color : #202020;
}

.order-list {
    position : relative;
    display : grid;
    grid-template-columns : 33% 33% 33%;
    grid-row-gap : 30px;
    width : 100%;
}

.order-list>* {
    align-self : start;
    justify-self : center;
}







